.jumbotron{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.jumbotron-fluid {
    /* background-image: url(../image/travel.jpg); */
    background-image: url(../image/engine.jpg)
}
/* real time - jumbotron  */
p{
    font-size: x-large;
}
body{
    background-image: url(../image/map.png);
}

/* Current Train Schedule below subtitle */
.table thead th{
    border-top: none;
}

/* table body */
.card-body {
background-color: azure;
}
/* table header */
b, strong {
    color: white;
}

/* submit button */
.btn-primary{
    
    background-color: #145826;
    font: bolder;
}

/* jumbotron text */
#color {
    
    color:#0007E8;
    /* background-color: rgba(128, 128, 128, 0.383); */
    background-color: rgba(135, 206, 250, 0.541);
   
}
/* table header */
.card-header {
    background-color: #0007E8;
    
}
#time{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
}
/* popup message */
.popmessage{
margin-left: 30%;
background-image: url(../image/abstract.png);
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

